<!DOCTYPE html>

<html class="no-js">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RPG Game</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<header>
    <h1 id="mainTitle">Color Battle RPG</h1>
    <!-- <img src="assets/images/colorbackground.jpg" alt="background picture" style="width: 100%" display="inline-block"> -->
</header>

<body>
    <section class="character-container">
        <!-- <section class="character-box"> -->
        <!-- character selection -->
        <div class="interface">
            <a href="#" onclick="">
                <!-- player one red  -->
                <div class="row">
                    <div class="column">
                        <img src="assets/images/red_crayon.png" alt="red crayon" width="250px" height="250px">
                    </div>
            </a>
            <!-- player two blue -->
            <div class="column">
                <a href="#" onclick="">
                    <img src="assets/images/blue_crayon.png" alt="blue crayon" width="250px" height="250px">
            </div>
            </a>
            <!-- player three yellow -->
            <div class="column">
                <a href="#" onclick="">
                    <img src="assets/images/yellow_crayon.png" alt="yellow crayon" width="250px" height="250px">
            </div>
            </a>
            <!-- player four purple -->
            <div class="column">
                <a href="#" onclick="">
                    <img src="assets/images/purple_crayon.png" alt="purple crayon" width="250px" height="250px">
            </div>
            </a>
            </div>
    </section>

    <div>
        <!-- background-size: cover; background-size: cover; background-repeat: no-repeat;} -->
        <!-- </style>  -->

        <div class="container" style="background-image: url('assets/images/colorbackground.jpg'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat;">

            <p id="myColor">Choose Your Color</p>
        </div>
        <div class="container restart">
            <div class="row">
                <div id="characters">
                    <!-- selection sound effect -->
                    <audio id="soundEffect" src="assets/sound_effects/select_sound.wav"></audio>
                </div>
            </div>
        </div>
        <div class="container headings">

            <h2>Opponent's Health <span id="opponent-health"></span></h2>
            <h2>Your Health <span id="player-health"></span></h2>

        </div>
        <div class="display-container">
            <div class="display-topright container"><button id="attack-button" onclick="attack()">Throw Now</button></div>

            <button id="restart-button" hidden="true" onclick="restart()">Restart Game</button>
            <h2 id="game-message"></h2>
        </div>
    </div>
    <!-- //character container -->
    <div id="container">
        <div id="character">
            <!-- <button type="reset" title="In some browsers, this appears as a pic"><span> Cancel</span></button> -->
            <button id="charSelect" onclick="myFunction()">Click Here For Character</button>
        </div>
    </div>


    <!-- battle area -->
    <div id="battle">
    </div>
    <script type="text/template" id="charTemp">
        <div class="charContainer charClick <%=background %>" data-char-index="<%= index %>">
            <p id="charSelect" onclick="myFunction()">Click to select player</p>
            <p>HP:
                <%= char.healthPoints %>
            </p>
        </div>
    </script>

    <script src="assets/javascript/game.js"></script>
    </div>
</body>
<footer>
    <div class="footer">

    </div>
</footer>

</html>